[submodule "projects/temp/Full-Stack---The-Desk-Application-"]
	path = projects/Lesson5/Full-Stack---The-Desk-Application-
	url = https://github.com/Simplilearn-Edu/Full-Stack---The-Desk-Application-.git
